// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body a {
  text-decoration: none;
  color: rgb(80,80,80);
}

body a:hover {
  text-decoration: none;
  color: rgb(80,80,80);
  opacity: 0.5;
}
